<div class="container clearfix">
	<div class="modal-dialog" role="document">
		<div class="post_index_m modal-content">

			<%= form_for @post,url:posts_path, remote: true do |f| %>

				<div class="modal-header">
	                <h4 class="modal-title">スレッド</h4><br>
	                <div id="post_create_error_messages">
		                <%= render 'layouts/error_messages', model: f.object %>
		            </div>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                   <span aria-hidden="true">&times;</span>
	                </button>
	            </div>

	            <div class="modal-body">
						<div class="post_new_content">
							<p>タイトル</p>
						    <%= f.text_field :post_content, class:"form-control" %>
						</div>
						<div class="post_new_category">
							<%= f.label :category, 'カテゴリ' %>
						    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
						        <%= category.label do %>
						            <%= category.check_box %>
						            <%= category.text %>
						        <% end %>
						    <% end %>
					    </div>
					        <%= f.hidden_field :user_id, :value => current_user.id %>
				</div>

				<div class="modal-footer actions">
					<div class="post_new_image">
					    <%= f.submit "作成" ,class:"btn btn-primary"%>
					</div>
				</div>

			<% end %>

		</div>
	</div>
</div>