<div class="container clearfix">

    <div class="post_location">
        <div id="post_all">
            <% @posts.each do |post| %>
                <div class="post_content_all">
                    <p class="post_user_name"><%= post.post_content %></p>
                    <p class="post_created_at"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                    <div class="post_category">カテゴリー：
                    	<% post.categories.each do |category| %>
            			    <%= category.name %>
            			<% end %>
                    </div>
                    <div class="post_option">
                        <div id="post_show_link">
                            <%= link_to '書き込みを見る', post_path(post), class:"btn-sm btn-light post_link" %>
                        </div>
                        <% if user_signed_in? %>
                            <div id="post_destroy_link">
                                <%= link_to "スレッド削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,
                                class:"post_destroy"%>
                            </div>
                        <% else %>
                            <div id="post_destroy_link">
                                <%= link_to "スレッド削除", post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,
                                class:"post_destroy"%>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end%>
        </div>
    </div>

    <% if user_signed_in? %>
        <div id="post_button_link">
            <%= link_to 'スレッド作成', new_post_path, remote: true, class: "post_button" %>
        </div>
    <% end %>

    <div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

</div>