<div class="container clearfix">

    <div class="post_location">
        <div id="post_all">
            <% @posts.each do |post| %>
                <div class="post_content_all">
                    <p class="post_user_name"><%= post.post_content %></p>
                    <p class="post_created_at"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
                    <div class="post_category">カテゴリー：
                    	<% post.categories.each do |category| %>
            			    <%= category.name %>
            			<% end %>
                    </div>
                    <div><%= link_to '書き込みを見る', post_path(post), class:"post_link" %></div>
                </div>
            <% end%>
        </div>
    </div>

    <%= link_to 'スレッド作成', new_post_path, remote: true, class: "post_button" %>

    <div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

</div>