<div class="container clearfix">
    <div id="post_all">
        <p><%= @post.user.name %></p>
        <p><%= @post.post_content %></p>
        <% @post.categories.each do |category| %>
            <p><%= category.name %></p>
        <% end %>
    </div>
    <div>
        <h4>コメント</h4>
            <div id="comments_area">
            <%= render partial: 'comments/comment_create', locals: { comments: @comments } %>
        </div>
        <% if user_signed_in? %>
            <%= render partial: 'comments/comment_form', locals: { comment: @comment, post: @post } %>
        <% end %>
    </div>
</div>